body {
	background-color: #D3D3D3;
}

.bar {
	fill: #0074D9;
}

.bar:hover {
	fill: #7FDBFF;
}

#title {
	font-size: 40px;
}

svg {
	display: block;
	margin: auto;
	border-radius: 10px;
	background-color: #ffffff;
}

div#tooltip {	
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

